* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 245);
  height: 100vh;
}
main {
  display: grid;

  grid-template-areas:
    "a a b"
    "a a b"
    "c d d"
    "c e e";
  gap: 20px;
  width: 50%;
  margin: auto;
  height: 60vh;
}
main div {
  padding: 2em;
  text-align: center;
}
.item-a {
  background-color: #eb5020;
  grid-area: a;
}

.item-b {
  background-color: #ffa401;
  grid-area: b;
}

.item-c {
  background-color: #05aa42;
  grid-area: c;
}

.item-d {
  background-color: #01aefd;
  grid-area: d;
}
.item-e {
  background-color: #01aefd;
  grid-area: e;
}
