@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
@media (max-width: 1440px) {
  header{
    background-color: hsl(184, 100%, 22%) ;
    height: 50px;
    ;

    
  }
   header a{
    
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
  }
   .link{
    padding-top: 10px;
     text-align:center;
    color: #121212;
    font-weight: 400;
    font-size: 20px;
  }
   header a:hover{
     color:hsl(31, 77%, 52%) ;
   }
  main-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .car {
    width: 100%;
    height: 50vh;
    padding: 50px;
    
    border-radius: 10px 0px 0px 10px;
    background-color: hsl(31, 77%, 52%);
  }
  img {
    margin-bottom: 20px;
  }

  .car button {
    font-weight: 500;
    border-radius: 50px;
    border: none;
    height: 40px;
    margin-top: 25%;
    width: 50%;
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
  }
  
  .car h2 {
    margin-bottom: 10px;
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display";
    font-weight: 700;
    font-size: 2rem;
  }
  .car p {
    line-height: 150%;
    font-family: "Lexend Deca";
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca";
  }
  .cars {
    padding: 50px;
    width: 100%;
    height: 50vh;
    background-color: hsl(184, 100%, 22%);
  }
  .cars h2 {
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display";
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .cars p {
    line-height: 150%;
    font-family: "Lexend Deca";
    color: hsla(0, 0%, 100%, 0.75);
  }
  .cars button {
    font-weight: 500;
    border-radius: 50px;
    border: none;
    height: 40px;
    margin-top: 25%;
    width: 50%;
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
  }
  .carss {
    padding: 50px;
    width: 100%;
    height: 50vh;
    border-radius: 0px 10px 10px 0px;
    background-color: hsl(179, 100%, 13%);
  }
  .carss h2 {
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display";
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .carss p {
    font-family: "Lexend Deca";
    line-height: 150%;
    color: hsla(0, 0%, 100%, 0.75);
  }
  .carss button {
    font-weight: 500;
    border-radius: 50px;
    border: none;
    height: 40px;
    margin-top: 25%;
    width: 50%;
    color: hsl(179, 100%, 13%);
    background-color: hsl(0, 0%, 95%);
  }
}

@media (max-width: 375px) {
    main-container {
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column;
         height: 100%;
      }
}
