
header { 
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    
}
.logo{
    cursor: pointer;
}
.nav-menu ul{
    
    list-style-type:none;
}
.nav-menu li{
    display: inline-block;
}
.nav-menu li a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    color: #464d4ed8;
    
}
.item:hover:hover{
color: black;

}
.item{
    padding: 20px;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 50 px ;
}
header.u a button{
    background-color: white;
    color: blue;
    padding: 20px;
}
 .us button {
    font-family: sans-serif;
    font-size: normal;
    font-weight: 500;
    width: 150%;
    color: white;
    padding: 10px;
     border-radius: 5px ;
    background-color: #3C64B1;
    border: none;
 }
.Main{
    
    margin-left: 20%;
}

.bim{
    margin-right: 20%;
}
.bottom-right{
float: left;
clear: both;
margin-top:5%;

}
.works{
    border-radius:10px;
    height: 200px;
    width: 200px;
    
}
.bottom-left{
   
 float: right;  
 clear: both; 
 margin-left: 50px;
 
    }

    
.footer{
    text-align: center;
     clear: both;
     
 }
 .fa {
   
    padding: 20px;
    font-size: 30px;
    width: -20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
  }
 .fa:hover{
    opacity: 0.4;
 }
 .fa-facebook {
    background-color: black;
    color: rgb(121, 118, 118)
}
 
 .fa-twitter {
    
    color: black;
  }
 .fa-instagram {
    
    color: rgb(121, 118, 118);
  }
  .fa-linkedin {
   background-color: rgb(230, 223, 223);
    color:rgb(15, 15, 15);
  }
  

.footer{

padding-bottom: 10%;
   text-align: center;
    clear: both;
    
}