
body{
    margin: 0;
    padding: 0;
    background: url("cup.jpg") no-repeat center;
    background: url("cup.jpg") no-repeat center;
    background-size:cover;
    height: 100%;
    width: 100%;
}
main{
    position: relative;
    left: 25%;
     width: 50%;
     height: 50vh;
     margin-top: 10%;
     border-radius: 20px;
     box-shadow: 0 30px 40px 20px rgba(17, 17, 17, 0.349) ;
     
     
}
h1{
    text-align: center;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size:80px ;
    filter: blur(1px);
     
}

p{
    text-align: center;
    text-shadow: 20px;
    font-size: 60px;
    font-weight: bold;
}